/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 *
 * Modifications (custom paddings & custom element adjustments) by Noora Routasuo.
 * Go get the original, this version is a mess.
 */

/* Preserve some sanity */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both;
}
.grid .unit {
  float: left;
  width: 100%;
  padding: 15px;
}

/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
.grid .unit:first-child { padding-left: 30px; }
.grid .unit:last-child { padding-right: 30px; }

/* Nested grids already have padding though, so let’s nuke it */
.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }
.unit .grid:first-child > .unit { padding-top: 0; }
.unit .grid:last-child > .unit { padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}

/* Wrapping at a maximum width is optional */
.wrap .grid,
.grid.wrap {
  max-width: 978px;
  margin: 0 auto;
}

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a grid unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.grid .whole,          .grid .w-1-1 { width: 100%; }
.grid .half,           .grid .w-1-2 { width: 50%; }
.grid .one-third,      .grid .w-1-3 { width: 33.3332%; }
.grid .two-thirds,     .grid .w-2-3 { width: 66.6665%; }
.grid .one-quarter,    .grid .w-1-4 { width: 25%; }
.grid .three-quarters, .grid .w-3-4 { width: 75%; }
.grid .one-fifth,      .grid .w-1-5 { width: 20%; }
.grid .two-fifths,     .grid .w-2-5 { width: 40%; }
.grid .three-fifths,   .grid .w-3-5 { width: 60%; }
.grid .four-fifths,    .grid .w-4-5 { width: 80%; }
.grid .golden-small,   .grid .w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
.grid .golden-large,   .grid .w-g-l { width: 61.7283%; } /* Golden section: larger piece */
.grid .unit-compass { width: 33% }
.grid .unit-rest { width: 67% }

/* Clearfix after every .grid */
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after {
  clear: both;
}

/* Utility classes */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }
.limit-height {
	height:100%;
	position: fixed;
	overflow-y: hidden;
	overflow-x: overlay;
	width: 22%;
}

/* Responsive Stuff */
@media screen and (max-width: 850px) {
  
	#grid-main > .unit, .sticky-footer > .unit {
		width: 100% !important;
        padding-left: 80px;
	}
  
	#footer {
		border-width: 2px 0px !important;
	}
    
    #game-version, #game-msg {
        left: 10px !important;
    }
  
	div.grid-content {
		border-width: 1px 0px !important;
	}
	
	ul.tabs {
		padding-left: 5px !important;
	}
  
	.limit-height {
		max-height: 200px;
		width: 100%;
		max-width: 100% !important;
		position: static;
	}
	
	#log-overlay {
		height: inherit !important;
		max-height: 200px !important;
		position: absolute !important;
		width: 100% !important;
		max-width: 100% !important;
		left: 0;
		top: inherit !important;
	}
	dl {
		padding: 0 10em 0 0 !important;
	}
	
	dd p.p-meta {
		right: -10em !important;
		width: 9em !important;
	}

    .popup .inventorybox ul {
        width: 370px !important; /* 8 * 46px (li width) + padding */
    }
}

@media screen and (max-width: 568px) {

  /* Stack anything that isn’t full-width on smaller screens */
  .grid .unit {
    width: 100% !important;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }
  
	ul#switch-tabs li {
		border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px 0px;
		margin: -1px 0;
		border-bottom-width: 1px !important;
		top: 0;
	}
  
	ul#switch-tabs li.selected {
		padding-bottom: 7px;
	}
	
	ul#switch-tabs {
		padding: 0;
		margin: 0px 5px 5px 5px;
		padding-left: 0px !important;
	}

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
  .fill-on-mobiles {
	width: 100% !important;
	max-width: 100% !important;
	margin: 0px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

    .popup .inventorybox ul {
        width: 100% !important; /* 8 * 46px (li width) + padding */
    }
  
}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
	.wider .grid {
		max-width: 1180px;
		margin: 0 auto;
	}
  
	#log {
        max-width: 280px !important;
	}
	
	#log-overlay {
		max-width: 265px !important;
	}
	
	div.popup { max-width: 40% !important }
    div.popup-wide { max-width: 70% !important }
}
