/* WEBKIT BROWSERS */
div ::-webkit-scrollbar {
  width: 11px;
  background: #2f322f;
}
.sunlit div ::-webkit-scrollbar {
  width: 11px;
  background: #e6e6e6;
}
div ::-webkit-scrollbar-track {
  background: #2f322f;
}
.sunlit div ::-webkit-scrollbar-track {
  background: #e6e6e6;
}
div ::-webkit-scrollbar-button {
  background: #666;
  display: none;
}
.sunlit div ::-webkit-scrollbar-button {
  background: #999;
}
div ::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5.5px;
}
.sunlit div ::-webkit-scrollbar-thumb {
  background: #999;
}
div ::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.sunlit div ::-webkit-scrollbar-thumb:hover {
  background: #777;
}
div ::-webkit-scrollbar-thumb:window-inactive {
  background: #666;
}
.sunlit div ::-webkit-scrollbar-thumb:window-inactive {
  background: #999;
}
div ::-webkit-scrollbar-corner,
div ::-webkit-resizer {
  background: rgba(102, 102, 102, 0.75) !important;
  border: 0px solid rgba(102, 102, 102, 0.75);
  box-shadow: none;
}
.sunlit div ::-webkit-scrollbar-corner,
.sunlit div ::-webkit-resizer {
  background: rgba(153, 153, 153, 0.75) !important;
  border: 0px solid rgba(153, 153, 153, 0.75);
}
div ::-webkit-scrollbar-corner:hover,
div ::-webkit-resizer:hover {
  background: rgba(136, 136, 136, 0.75) !important;
  border: 0px solid rgba(102, 102, 102, 0.75);
  box-shadow: none;
}
.sunlit div ::-webkit-scrollbar-corner:hover,
.sunlit div ::-webkit-resizer:hover {
  background: rgba(119, 119, 119, 0.75) !important;
  border: 0px solid rgba(153, 153, 153, 0.75);
}
