/* MAPS */
#minimap {
  overflow: hidden;
}
#mainmap {
  overflow: hidden;
}
#mainmap,
#researched-upgrades-vis {
  overflow: hidden;
}
.canvas-overlay {
  position: absolute;
  top: 0;
  pointer-events: none;
}
.canvas-overlay-cell {
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
  font-size: 70%;
  display: table;
  line-height: 0.85;
}
.canvas-overlay-cell p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.map-overlay-cell {
  width: 10px;
  height: 10px;
}
.map-overlay-cell:hover {
  background: #fdfdfd;
}
/* TECH TREE */
.upgrades-overlay-cell {
  width: 85px;
  height: 22px;
  color: #202220;
}
.upgrades-overlay-cell:hover {
  background: rgba(253, 253, 253, 0.1);
}
/* CAMP VIS */
#tab-vis-in {
  border: 2px solid #3a3a3a;
  padding: 0;
}
#tab-vis-in-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  height: 100px;
}
#tab-vis-in-container.expanded {
  height: 300px;
  transition-duration: 0.5s;
}
.vis-camp-layer {
  position: absolute;
}
.vis-camp-building-container {
  background: transparent;
  border-radius: 3px;
  border: 2px dotted transparent;
  position: absolute;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 75%;
  color: transparent;
}
.vis-camp-building-container.drag-over {
  border-color: #999 !important;
}
.vis-camp-building-container.drag-active {
  border-color: #444;
  color: #777;
}
.vis-camp-building-container.filled {
  display: none;
}
.vis-camp-building {
  position: absolute;
  opacity: 1;
  width: 12px;
  height: 12px;
  z-index: 3;
  cursor: move;
  font-size: 75%;
}
.vis-camp-building:hover {
  opacity: 0.75;
}
.vis-camp-building-heavy {
  background: #aaa;
  border-color: #aaa;
}
.vis-camp-building-medium {
  background: #666;
  border-color: #666;
}
.vis-camp-building-thin {
  background: #333;
  border-color: #333;
}
.vis-camp-building-star {
  transform: rotate(45deg);
}
.vis-camp-building-round {
  border-radius: 6px;
}
.vis-camp-point {
  width: 2px;
  height: 2px;
  background: red;
  position: absolute;
  z-index: 100;
}
