// Reusable utility classes meant to be as generic as possible

// GENERAL UTILITY CLASSES

.centered {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.nowrap {
    white-space: nowrap;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.full-width {
	width: 100%;
}

.centered {
    margin-left: auto !important;
    margin-right: auto !important;
}

.strike-through, .strike-through p {
	text-decoration: line-through;
	opacity: 0.9;
}

.container-dimmed .dimmable {
    opacity: 0.5;
}

span.icon {
	padding: 2px;
}

.shadowed-basic {
	-webkit-box-shadow: 1px 2px @shadow-blur-radius @shadow-spread-radius @color-shadow;
	-moz-box-shadow:    1px 2px @shadow-blur-radius @shadow-spread-radius @color-shadow;
	box-shadow:         1px 2px @shadow-blur-radius @shadow-spread-radius @color-shadow;
}

// LEVEL 13 UTILITY CLASSES

.lvl13-box-1 {
    background-color: @color-bg-box-1;
    border: @border-width-box-1 solid @color-border-box-1;
}

.lvl13-box-2 {
    background: @color-bg-box-2;
	border: 1px solid @color-border-box-2;
}

span.hl-functionality {
   font-weight: bold;
}

.p-meta {
	color: @color-text-meta;
}

// TABLE UTILITY CLASSES

table.fullwidth {
	width: 100%;
}

table.spacious {
    margin: 5px 0px;
}

table.spacious td {
    padding: 2px 5px;
}

table.spacious td:last-child {
    padding-right: 0px;
}

table.spacious td:first-child {
    padding-left: 0px;
}

// TABLE CELL UTILITY CLASSES

td.minwidth {
	width: 5%;
}

td.maxwidth {
	width: 95%;
}

td.list-amount, td.list-storage {
	min-width: 30pt;
	text-align: center;
}

td.list-description {
    padding-left: 10px;
}

td.list-action {
    text-align: center;
    width: 100pt;
}

td.list-main {
    text-align: center;
}

td.item-name {
	min-width: 8em;
}

th.th-number {
	text-align: center;
}

th.th-text {
	text-align: left;
}

td.bg-reset {
    background: @color-bg-box-1;
}

tr.current {
	background: @color-bg-element-1;
    border-color: @color-bg-element-1;
}

tr.header-mini {
    font-size: @font-size-small;
}
