// Global rules for typography and links

body {
	font-family: Arial, sans-serif;
	font-size: 11pt;
	line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arial Narrow", Arial, sans-serif;
	letter-spacing: 0.1pt;
	text-transform: uppercase;
}

h3, h4 {
    margin: 1em 0 0.5em 0;
}

h4 {
    margin: 1em 0 0.5em 0;
}

a {
    border: none !important;
    background: inherit !important;
}

a:hover {
	color: #fff !important;
}

a:link, a:visited {
	background: @color-dark-bg;
	color: @color-dark-text;
	border: 1px solid #555;
}
.sunlit a:link, .sunlit a:visited {
    background: rgb(252, 252, 252);
    color: #222222;
    border: 1px solid #aaa;
}

.sunlit a:hover {
	color: black !important;
}

.p-dense, .p-dense p {
    margin: 0.25em 0;
}
