// Themed colours for buttons

button {
	background: @color-bg-button;
	color: @color-text-default;
	border: 1px solid @color-border-button;
}

button:hover {
	color: @color-text-highlight !important;
	border-color: @color-border-button-highlight;
	background-color: @color-bg-clickable-button;
}

button:focus-visible {
	outline: 2px solid @color-border-button-highlight;
}

button.btn-disabled:hover {
	background-color: @color-bg-button !important;
}

.cooldown-duration {
	background: @color-bg-button-cooldown-duration;
}

button .cooldown-action, button .cooldown-duration {
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0;
}

.cooldown-action {
	background-color: @color-bg-button-cooldown-action;
}

.cooldown-reqs {
	background-color: @color-bg-button-cooldown-reqs;
}

button.action.btn-disabled-basic:before {
	content: "\00a0";
}

button.action.btn-disabled-basic:after {
	content: "\00a0";
}

button.btn-disabled, li.disabled {
	opacity: 0.65;
	cursor: default !important;
}

button.btn-disabled-vision {
	opacity: 0.2;
	color: @color-global-invisible !important;
}

button.btn-disabled-vision:hover {
	opacity: 0.65;
}

button.btn-disabled-basic, button.btn-disabled-vision, button.btn-disabled-resources, li.disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-weight: normal !important;
}

button.action.btn-disabled-basic, button.btn-disabled-vision, li.disabled {
	text-decoration: line-through !important;
}

button.btn-disabled-basic, button.btn-disabled-vision, button.btn-disabled-resources, button.btn-disabled-cooldown {
	border-color: @color-border-button-disabled;
	color: @color-text-disabled !important;
}

.hotkey-hint {
	color: @color-text-secondary;
	border: 1px solid @color-border-box-2;
}